<h2>Yurik-BloGG</h2>
<p>Hi <%= @user.name %>,</p>
<p>Welcome to BloGG! Please, Click the link below to activate your account:</p>
<%= link_to 'Account Activation link', edit_account_activation_url(@user.activation_token, email: @user.email) %>
