<h2>Сброс пароля</h2>
<p>Чтоб сбросить пароль к Вашей учетной записи, нажмите на ссылку ниже:</p>

<%= link_to 'Сброс пароля', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Ссылка действительна 2 часа.</p>

<p>Если Вы не запрашивали сброс Вашего пароля - проигнорируйте это письмо.</p>
