<% provide(:title, 'Все статьи') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1 class="text-center bg-primary">User</h1>
      <div>
        ЗАГЛУШКА ДЛЯ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'all_my_articles_list' %>
  </div>
</div>
