<% provide(:title, 'Все пользователи') %>
<div class="row">

  <div class="col-md-4 my-art-list">
    <ul class="list-unstyled">
      <%= render @users.order('created_at ASC') %>
    </ul>
    <%= will_paginate @users, :param_name => 'users_page', class: 'center' %>
  </div>

  <div class="col-md-8 my-art-list">
    <%= render 'articles/all_articles' %>
    <%= will_paginate @articles, :param_name => 'articles_page', class: 'center' %>
  </div>
</div>
