<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <section>
      <%= @user.email %>
    </section>
    <section>
      вместе с нами, начиная с <%= @user.created_at %>
    </section>
  </aside>
</div>