<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel">
    <div class="panel-heading" role="tab" id="headingFollowers">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFollowers" aria-expanded="true" aria-controls="collapseFollowers">
          У пользователя <span id="followers"><%= @user.followers.count %></span> подписчиков
        </a>
      </h4>
    </div>
    <div id="collapseFollowers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFollowers">
      <div class="panel-body">
          <ul id="userslist" class="list-unstyled">
            <%= render @followers %>
          </ul>
          <div id="awp-followers">
            <%= ajax_will_paginate @followers, param_name: 'followers_page', class: 'paginator' %>
          </div>
      </div>
    </div>
  </div>
</div>
