<h1>BloGG</h1>
<%= link_to 'Список статей', controller: 'articles' %>

<div id="spot" class="t-block">
  Для начала, давайте ответим на главный вопрос: Что такое облачное хранилище личных файлов и для чего оно может использоваться? Облачное (внешнее, онлайн) хранилище данных - это определенный размер дискового пространства на внешнем сервере, используемый для хранения Ваших персональных файлов и документов, с возможностью дальнейшей их синхронизации между разными устройствами и пользователями. Объем, функциональность и скоростные показатели зависят от компании, предоставляющей эту услугу.
</div>
