<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/user_info_current' %>
      <%= render 'shared/followers_current' %>
    </div>
    <div class="col-md-8 my-art-list">
      <% if @articles.any? %>
        <div id="art-ajax-paginate">
          <%= render 'articles/all_articles' %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h2 class="text-center bg-header">BloGG</h2>
  <div id="art-ajax-paginate">
  <%= render 'articles/all_articles' %>
  </div>
<% end %>