@import "bootstrap-sprockets";
@import "bootstrap";

/* --- Whole Project --- */
body {
  background-image: asset-url("s5_background3.jpg");
}
a:link, a:visited, a:hover, a:focus, a:active {
  outline: none;
}
h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}
h1, h2 {
  letter-spacing: -1px;
  text-align: center;
}
textarea {
  resize: vertical;
}
section {
  overflow: auto;
}
.container-fluid {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  /*background-color: white;*/
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 1400px;
}
.g-block {
  padding: 5px;
  background-color: #EEEEEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.t-block {
  padding: 5px;
  background-color: #fafafa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.bg-primary {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.page-header {
  margin: 10px;
}
.center {
  text-align: center;
}
/* --- Control Buttons --- */
.show-but {
  margin: 0 0 0 5px;
  :hover, :active, :focus {
    color: #00b923;
  }
}
.edit-but {
  margin: 0 0 0 5px;
  :hover, :active, :focus {
    color: #caa000;
  }
}
.del-but {
  margin: 0 0 0 5px;
  :hover, :active, :focus {
    color: #cf0032;
  }
}

/* --- Block-Shadows --- */
.t-block, .panel, /*.btn,*/ .li-zebra, .bg-primary, .jumbotron, .li-comm, .form-control {
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  box-shadow: 0 0 7px #777;
}

/* --- Scroll to top button --- */
.scroll-to-top {
  display: none;
  position: fixed; bottom: 30px; right: 30px;
  width: 48px;
  height: 48px;
  padding-top: 5px;
  padding-right: 5px;
  background-color: rgba(180, 180, 180, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 7px #333;
  a:link, a:visited, a:hover, a:focus, a:active {
    /*font: bold 0.9em/1.2em Arial, Helvetica, sans-sherif;*/
    color: rgba(220, 220, 220, 1.0);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1.0);
    text-decoration: none;
  }
}
.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* --- Navbars --- */
.navbar-fixed-top {
  background: rgba(0, 0, 0, 0.5);
  max-height: 40px;
}
.nav-but {
  color: #BBBBBB;
  border: none;
  margin: 4px;
}
.nav-but:hover, .nav-but:active, .nav-but:focus, {
  color: white;
}
.navbar-fixed-bottom {
  background: rgba(0, 0, 0, 0.5);
  a:link, a:visited, a:hover, a:focus, a:active {
    color: #e3e3e3;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  }
}
.nav-time {
  color: #337AB7;
  margin: 9px;
}
.nav-logo {
  margin-left: 10px;
  margin-top: 5px;
}
.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
  a:link, a:visited, a:hover, a:focus, a:active {
    color: #e3e3e3;
  }
  .divider {
    background-color: #000000;
  }
  > li > a:hover, a:focus {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* --- Article Index --- */
.li-zebra {
  margin-top: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-bottom: solid;
  border-color: #337AB7;
}
/*.btn-artlist {
  width: 70px;
}*/

/* --- Article Show --- */
.prev-next {
  padding: 3px 5px 5px;
  background-color: rgba(180, 180, 180, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 2px 2px 7px #333;
  text-align:center;
  a:link, a:visited, a:hover, a:focus, a:active {
    font: bold 0.9em/1.2em Arial, Helvetica, sans-sherif;
    color: #ddd;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    text-decoration: none;
  }
}
.prev-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* --- comments --- */
.panel-top {
  margin-top: 18px;
}
.panel {
  background: rgba(255, 255, 255, 0.8);
}
.li-comm {
  background-color: #FFFFFF;
  margin-bottom: 5px;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-bottom: solid;
  /*border-top: solid;*/
  border-color: #337AB7;
}

/* --- TESTING --- */

