@import "bootstrap";
body {
  /*background-color: black;*/
  background-image: asset-url("s5_background3.jpg");
}
.form-control {
  width: 500px;
}
.container-fluid {
  margin-top: 30px;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 1400px;
}
p {
  /* font-size: 1.1em;*/
  line-height: 1em;
}
.navbar-fixed-bottom, .navbar-fixed-top {
  background: rgba(0, 0, 0, 0.5);
  a:link, a:visited, a:hover, a:focus, a:active {
    color: #e3e3e3;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  }
}
.bg-primary {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
