@import "bootstrap";

/* whole document*/
body {
  background-image: asset-url("s5_background3.jpg");
}
.container-fluid {
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  /*background-color: white;*/
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 1400px;
}
p {
  line-height: 1em;
}
.g-block {
  padding: 5px;
  background-color: #EEEEEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.t-block {
  padding: 5px;
  background-color: #fafafa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.bg-primary {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.page-header {
  margin: 10px;
}
textarea {
  resize: vertical;
}

/* Navbars */
.navbar-fixed-bottom, .navbar-fixed-top {
  background: rgba(0, 0, 0, 0.5);
  a:link, a:visited, a:hover, a:focus, a:active {
    color: #e3e3e3;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  }
}

/*Scroll to top button */
.scroll-to-top {
  display: none;
  position: fixed; bottom: 30px; right: 30px;
  width: 70px;
  height: 40px;
  padding-top: 10px;
  background-color: rgba(180, 180, 180, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 3px 3px 7px #333;
  text-align:center;
  a:link, a:visited, a:hover, a:focus, a:active {
    font: bold 0.9em/1.2em Arial, Helvetica, sans-sherif;
    color: #ddd;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    text-decoration: none;
  }
}
.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Article Index */
.li-zebra {
  padding: 5px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-bottom: solid;
  border-color: #337AB7;
}
.btn-artlist {
  width: 70px;
}
/* comments */
.panel-top {
  margin-top: 18px;
}
.panel {
  background: rgba(255, 255, 255, 0.8);
}
.li-comm {
  background-color: #FFFFFF;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /*border-bottom: solid;*/
  border-top: solid;
  border-color: #337AB7;
}
